<div class="rounded-md bg-gray-300 text-2xl font-semibold text-gray-600 border border-black w-fit py-4 px-8">
<div class="title"><%= title %></div>
<div class="subtitle font-light"><%= subtitle %></div>
</div>