<!-- Carousel Start -->
<%- include("../components/carousel", {
    <!-- We pass in an array of items -->
    carousel_item: [
    include("../components/carousel-item", {
        imageUrl: "img/carousel-1.jpg",
        title: "Eden SDA High School",
        title1: "About Us",
        buttonText: "An Innovative Way to Learn",
        buttonLink: "/about",
        active: true
    }),
    include("../components/carousel-item", {
        imageUrl: "img/carousel-2.jpg",
        title: "Eden SDA High School",
        title1: "About Us",
        buttonText: "An Innovative Way to Learn",
        buttonLink: "/about"
    }),
    include("../components/carousel-item", {
        imageUrl: "img/carousel-3.jpg",
        title: "Eden SDA High School",
        title1: "About Us",
        buttonText: "An Innovative Way to Learn",
        buttonLink: "/about"
    })]
})%>
  <!-- Carousel End -->
  <!-- About Start -->
  <div class="container-fluid py-5">
    <div class="container py-5">
      <!-- Include the card -->
      <%- include('../components/card', {
        linksTo: "about.html",
        imageUrl: "img/about.jpg",
        title: "About Us",
        title1: "An Innovative Way to Learn",
        body: include('../components/text/homepage-card.txt')
      })
      %>
      </div>
  </div>
  <!-- About End -->
