<a
  onclick="history.back()"
  class="underline font-light hover:opacity-80 cursor-pointer"
  >Go Backward</a
>

<%- include('../components/navbar', {slot: params.get("lol") || "bro"}) %>
<div class="container flex justify-center items-center h-auto py-4 w-full">
  <%- include('../components/card', {title: "Here is login", subtitle: "Subtitle here"}) %>
</div>